<div>
    <h1>Numero doble parametros</h1>
    <button (click)="goToHome()">
        Go to Home
    </button>
    <button (click)="redirect(55)">
        Doble 55
    </button>
    <button (click)="redirect(66)">
        Doble 66
    </button>
    <button (click)="redirect(88)">
        Doble 88
    </button>
    <div *ngIf="numero">
        <h2 style="color: blue;">
            El doble de {{ numero }} es {{ doble }}
        </h2>
    </div>
    <div *ngIf="!numero">
        <h2 style="color: red;">
            No hemos recibido parametro
        </h2>
    </div>
</div>